# ============================
# Python
# ============================

__pycache__/
*.py[cod]
*.pyo

# ============================
# Virtual Environment
# ============================

.venv/
venv/

# ============================
# macOS
# ============================

.DS_Store

# ============================
# VS Code
# ============================

.vscode/

# ============================
# Environment Variables
# ============================

.env

# ============================
# Jupyter
# ============================

.ipynb_checkpoints/

# ============================
# Logs / Temporary Files
# ============================

*.log
*.tmp

# ============================
# Dataset
# ============================

datasets/

# ============================
# Generated Outputs
# ============================

outputs/

# ============================
# Trained Models
# ============================

saved_models/

# ============================
# Python Cache
# ============================

*.pyc

data/sample_videos_fakeav/
*.save
