# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Python Environment
# -----------------------------
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp

# -----------------------------
# Datasets (Don't upload large datasets)
# -----------------------------
datasets/

# -----------------------------
# Generated Outputs
# -----------------------------
outputs/audio/
outputs/extracted_frames/
outputs/face_mesh/
outputs/lip_landmarks/
outputs/lip_coordinates/
outputs/mfcc/
outputs/synchronized/
outputs/sequences/

# -----------------------------
# Trained Models
# -----------------------------
saved_models/

# -----------------------------
# Python Cache
# -----------------------------
*.pyc