# -----------------------------
# Python
# -----------------------------
__pycache__/
*.py[cod]
*.pyo

# -----------------------------
# Virtual Environment
# -----------------------------
.venv/
venv/

# -----------------------------
# macOS
# -----------------------------
.DS_Store

# -----------------------------
# VS Code
# -----------------------------
.vscode/

# -----------------------------
# Python Environment
# -----------------------------
.env

# -----------------------------
# Jupyter
# -----------------------------
.ipynb_checkpoints/

# -----------------------------
# Logs
# -----------------------------
*.log

# -----------------------------
# Model Files
# -----------------------------
saved_models/*.pth
saved_models/*.pt

# -----------------------------
# Temporary Files
# -----------------------------
*.tmp